includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - videomuxr.php
        - includes
    excludePaths:
        - vendor
        - lib
        - node_modules
        - build (?)
        - tests
    ignoreErrors:
        - '#Call to an undefined method YahnisElsts\\PluginUpdateChecker\\.*::enableReleaseAssets\(\)#'
