includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - includes
    excludePaths:
        - vendor
        - lib
        - node_modules
        - build
        - tests
